.card {
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  width: 20vw;
  height: 100%;
  text-align: center;
}

.card:hover {
  transform: translateY(-.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

@media screen and (max-width: 1024px) {
  .card {
    width: 25vw
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 40vw
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 80vw
  }
}
