.spotlight-image {
  height: 50vh;
  width: 50vw
}

.back-button {
  font-size: 35px;
  text-decoration: none;
  margin: 10px
}

.article-wanted {
  text-align: center;
}

@media screen and (max-width: 425px) {
  .spotlight-image {
    width: 70vw;
  }

  .back-button {
    font-size: 30px
  }
}
